<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fuse.js@6.4.3"></script>

    <script src="https://unpkg.com/vue-slide-up-down@1.0.2/dist/vue-slide-up-down.umd.js"></script>


    <title>AtCoder Analyzer</title>
  </head>

  <body>
    <canvas id="myChart"></canvas>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <div id="app">
      <!-- {{ message }} -->
    </div>

    <div id="is_all">
      <input type="checkbox" id="is_all" v-model="is_all">
      <label for="checkbox">
        All
        {{ is_all }}
      </label>
    </div>

    <div id="list">

      Fuzzy Search
      <input type="text" class="form-control" placeholder="Problem or Contest" aria-label="" aria-describedby="basic-addon1" v-model=query>
      <div class="input-group-append">
        <button class="btn btn-success" type="button" @click="search">Search</button>
      </div>

      <button type="button" class="btn btn-primary" @click="render">Display</button>
      <table class="table">
        <thead>
          <tr>
            <th>Radio box</th>
            <th>Contest</th>
            <th>Title</th>
          </tr>
        </thead>
        <tbody v-for="(prob, idx) in filtered_list">
          <tr>
            <td>
              <input type="radio" :value="prob.item" v-model="selected_prob" @change="get_langs()">
            </td>
            <td> {{ prob.item['contest_id'] }} </td>
            <td> {{ prob.item['title'] }} </td>
          </tr>
        </tbody>
      </table>
    </div>
    <script src="index.js"></script>
    <script src="https://unpkg.com/chartjs-plugin-colorschemes"></script>
  </body>
</html>
